body {
  background-color: rgb(196, 40, 92);
}

h1 {
  color: blue;
}
h2 {
  color: blue;
}
h3 {
  color: blue;
}
h4 {
  color: blue;
}
h5 {
  color: blue;
}
h6 {
  color: blue;
}

#cash1 {
  color: brown;
}
#cash2 {
  color: brown;
}
#cash3 {
  color: brown;
}
#cash4 {
  color: brown;
}
#cash5 {
  color: brown;
}
#cash6 {
  color: brown;
}
.casah1 {
  color: cyan;
}
.casah2 {
  color: cyan;
}
.casah3 {
  color: cyan;
}
.casah4 {
  color: cyan;
}
.casah5 {
  color: cyan;
}
.casah6 {
  color: cyan;
}
